<!DOCTYPE html>
<html>
<head>
  <title>BlogFacilito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
	<nav class="be-red white large-padding">
		<ul class="no-list row center-xs">
			<li class="col-md">
				<%= link_to "Inicio", root_path %>
			</li>
			<li class="col-md">
				<%= link_to "Articulos", articles_path %>
			</li>
			<li class="col-md">
				<%= link_to "Nuevo", controller: "articles", action: "new" %>
			</li>
			<li class="col-md">
				item 3
			</li>
		</ul>
	</nav>
</header>
	<div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>

<%= yield %>

</body>
</html>
